/*
Author: Berkay Anduv
Project Name:Form
Date:2023
*/

/* ROOT */
:root {
  --template-bg-color: #ffffff;
  --template-color: #000000;
}

/* COMMON */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background-color: var(--template-color);
  color: white;
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

label {
  display: block !important;
  margin: 0.5rem 0;
}

/* ================================================================= */

.register_container {
  width: 100%;
  /* height: 95vh; */
  display: flex;
  justify-content: center !important;
  place-items: center !important;
  text-align: center !important;
  overflow: hidden;
  flex-direction: column;
}

.register_logo {
  background: url("https://play-lh.googleusercontent.com/MPDzYIvnXkFgILeyVYa1ZrBhWrQI6voJQ83R3TGhUvU4jjcV3ClQVlhuWDucmSkSwqc")
    no-repeat center/cover;
  width: 200px;
  height: 200px;
  box-shadow: 1px 5px 10px 5px rgba(250, 250, 250, 0.75);
  margin-bottom: 15px;
  border-radius: 50rem;
}

.register_title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  letter-spacing: 0.3rem;
}

.form_container {
  border: 3px solid white;
  border-radius: 50px;
  padding: 45px;
}

input,
button {
  display: block;
  padding: 0 !important;
  width: 100%;
  border: none;
  outline: none;
}

input {
  height: 3rem;
  margin-bottom: 5px;
  border-radius: 3.2rem;
}

.register_form {
  margin-bottom: 35px;
  position: relative;
  width: 40rem;
  padding: 3rem;
}

#form_id {
  background-color: var(--template-color);
  opacity: 0.8;
  padding: 1rem 0;
}

/* TEXT */
#form_register_heading {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  color: var(--template-bg-color);
}

.form_register_child {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.42rem;
  margin-bottom: 0.5rem;
  color: var(--template-bg-color);
}

/* INPUT ALL OBJECT */
.form_object {
  margin: 0 auto;
  width: 75%;
  padding: 1rem;
  border-radius: 0.4rem;
  color: var(--template-bg-color);
  box-shadow: 0 0 0.5rem 0.1rem var(--template-bg-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/*INPUT*/
#form_id .form_object input:first-child {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  /* 
  border: none;
  outline: none; 
  */
  border-radius: 0.4rem;
  display: block;
  padding: 0.4rem;
  padding-left: 2rem;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  background-color: var(--template-color);
  color: var(--template-bg-color);
  padding: 0.6rem;
}

input[type="checkbox"] {
  width: 25px;
  margin: auto;
}
.validation_input {
  color: red;
  display: none;
}
